body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background: lightgray;
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: bold;
}
#button-area {
    text-align: center;
    border: 2px solid black;
    margin: 10px 10% 10px 5%;
    padding: 5px;
}
button {
    padding: 5px;
}

#questions-area {
    margin: auto 10% auto 5%;
}
.yes {
    background-color: lightgreen;
}
.no {
    background-color: lightcoral;
}
#questions {
    display: none;
}
h2 {
    font-weight: bold;
    background-color: lightgray;
    font-size: 150%;
    text-align: center;
}
li {
    margin: 1% auto 1% auto;
}


