body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background: lightgray;
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: bold;
}
h2 {
    font-weight: bold;
    background-color: lightgray;
    font-size: 150%;
    text-align: center;
}
#button-area {
    text-align: center;
    border: 2px solid black;
    margin: 10px 10% 10px 5%;
    padding: 5px;
}
button {
    padding: 15px;
    border-radius: 50%;
    font-size: 120%;
}
button:hover {
    background-color: lightgrey;
}

#questions-area {
    margin: auto 10% auto 5%;
    display: none;
}
#questions {
    display: none;
}
.yes {
    background-color: lightgreen;
}
.no {
    background-color: lightcoral;
}


li {
    margin: 1% auto 1% auto;
    padding: 50px: 


}

#top-ten {
    margin: auto 10% auto 5%;
}
ul {

}
ul li {
    display: block;
    width: 50%;
    background-color: lightsteelblue;
    text-align: center;
}
ul li:hover {
    background-color: mediumaquamarine;
    color: white;
}


